//
//  prod.xcconfig
//  PublicRepositories
//
//  Created by Bùi Văn Thương on 9/22/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = [PROD]Repos
PRODUCT_BUNDLE_IDENTIFIER = com.thuongvb.repositories
APP_VERSION = 1.0.0
APP_BUILD_VERSION = 1

// API:
API_ENDPOINT = https:\/\/api.github.com
